# 1. Ignore Python Cache Globally (This handles all your __pycache__ folders at once)
__pycache__/
*.py[cod]
*$py.class

# 2. Ignore Specific App Files
app/core/localface_detector.py

# 3. Ignore Datasets & Heavy Models
model selection/Humans
images/Celebrity Faces Dataset/
images/

# 4. Ignore Virtual Environments (like faceenv)
faceenv/
venv/
env/

# 5. Ignore csv file 
*.csv


# C:\faceenv\Scripts\Activate.ps1