<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preview Face Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/preview.css') }}">
    <!-- <link rel="stylesheet" href="../static/css/preview.css"> -->
</head>
<body>
    <nav class="navbar">
    <a href="{{ url_for('index') }}" class="logo">
        🔒 SecureFace AI
    </a>
</nav>
    <div class="container">
        <h2 id="heading">Face Detection Preview</h2>
        <div class="box">
             <div class="camera-box">
                <video id="webcam" autoplay playsinline></video>
            </div>
            <div id="statusMessage"></div>
            <canvas id="canvas"></canvas>
        </div>
        <!-- <button id="simi-btn" href="{{ url_for('checksimilarity') }}">Check Similarity</button> -->
         <a href="{{ url_for('checksimilarity') }}" style="text-decoration: none;">
    <button id="simi-btn">Check Similarity</button>
    </a>
    </div>
    <script src="{{ url_for('static', filename='js/preview.js') }}"></script>
    <!-- <script src="../static/js/preview.js"></script> -->
</body>
</html>